/**************************************************************
"Learning with Texts" (LWT) is released into the Public Domain.
This applies worldwide.
In case this is not legally possible, any entity is granted the
right to use this work for any purpose, without any conditions, 
unless such conditions are required by law.

Developed by J. Pierre in 2011.
***************************************************************/

/**************************************************************
Stylesheet
***************************************************************/

body {
	background-color: #FFFFFF;
	color: #000000;
	font: 100%/1.25 "Lucida Grande",Arial,sans-serif,STHeiti,"Arial Unicode MS",MingLiu;
	margin: 20px;
	padding: 0px;
}
input {
	font: 85% "Lucida Grande",Arial,sans-serif,STHeiti,"Arial Unicode MS",MingLiu;
}
p {
	margin: 5px 0 5px 0;
	padding: 0;
}
h3 {
	margin: 0px 0 0px 0;
	padding: 0;
}
h4 {
	margin: 5px 0 10px 0;
	padding: 0;
}
span.status0 {
	background-color: #ADDFFF;
	color: #000000;
}
span.status1 {
	background-color: #F5B8A9;
	color: #000000;
}
span.status2 {
	background-color: #F5CCA9;
	color: #000000;
}
span.status3 {
	background-color: #F5E1A9;
	color: #000000;
}
span.status4 {
	background-color: #F5F3A9;
	color: #000000;
}
span.status5 {
	background-color: #DDFFDD;
	/* background-color: #F8F8F8; */
	/* border-bottom: dotted 1px #A9F5A9; */
	color: #000000;
}
span.status99 {
	background-color: #F8F8F8;
	border-bottom: solid 2px #CCFFCC;  
	color: #000000;
}
span.status98 {
	background-color: #F8F8F8;
	border-bottom: dashed 1px #000000; 
	color: #000000;
}
span.mwsty {
	/* border-right: solid 2px #FFF; */
	margin-right: 2px;
	font-size: 60%;
	font-weight: bold;
	color: #000000;
	vertical-align: top; 
}
span.wsty {
	/* border-right: solid 2px #FFF; */
	margin-right: 2px;
	color: #000000;
}
span.todosty {
	background-color: #F5E1A9;
}
span.doneoksty {
	background-color: #A9F5A9;
}
span.donewrongsty {
	background-color: #F5B8A9;
}
span.status5stat {
	background-color: #BBFFBB;
	color: #000000;
}
textarea {
	font: 85% "Lucida Grande",Arial,sans-serif,STHeiti,"Arial Unicode MS",MingLiu;
}
table.tab1 {
	background-color: #f8f8f8;
	margin-bottom: 10px;
	margin-top: 10px;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	width: 850px;
}
table.tab2 {
	background-color: #f8f8f8;
	margin-bottom: 10px;
	margin-top: 10px;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	width: 100%;
}
table.tab3 {
	background-color: #f8f8f8;
	margin-bottom: 10px;
	margin-top: 10px;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	width: auto;
}
td.td1 {
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
	vertical-align: top;
}
td.td1bot {
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
	vertical-align: bottom;
}
th.th1 {
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
	background-color: #DDDDDD;
	vertical-align: top;
}
th.clickable {
	cursor: pointer;
}
.click {
	cursor: pointer;
	color: #C00000;
}
.hide {
	display: none;
}
a {
	text-decoration: none;
}
a:link {
	color: #C00000;
}
a:visited {
	color: #C00000;
}
a:active {
	color: #C00000;
}
a:focus {
	color: #C00000;
}
a:hover {
	color: #C00000;
} 
img {
	border: 0pt none;
}
.red {
	color: #FF0000;
	font-weight: bold;
	background-color: #FFFFD0;
	text-align: center;
	font-size: 120%;
}
.msgblue {
	color: #0000FF;
	font-weight: bold;
	background-color: #FFFFE0;
	text-align: center;
	font-size: 120%;
}
.red2 {
	color: #FF0000;
	font-weight: bold;
}
.scorered {
	font-weight: bold;
	color: #FF0000;
}
.scoregreen {
	color: #006400;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.bigger {
	font-size: 130%;
}
.backgray {
	background-color: #DDDDDD;
}
.smallgray { 
	color: gray;
	font-size:60%;
}
.smallgray2 { 
	color: gray;
	font-size:80%;
}
#learnstatus {
	color: #000000;
	font-size: 120%;
	font-weight: bold;
}
#iknowall {
	background-color: #ADDFFF;
	cursor: pointer;
	color: #C00000;
	padding: 5px;
	border: 1px solid #000000;
 	text-align: center;
}
img.lwtlogo {
	margin-right: 15px;
	float: left;
}
img.lwtlogoright {
	margin-left: 30px;
	float: right;
}
.inline {
	display: inline;
}
.grayborder {
	border: 1pt solid #808080;
}
.graydotted {
	margin-top: 30px; 
	padding-top: 5px; 
	border-top: 1px dotted #808080;
}
#printoptions {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #808080;
	line-height: 1.8; 
	margin-top: 20px;
}
.width50px {
	width: 50px;
}
.width99pc {
	width: 99%;
}
.width45pc {
	width: 45%;
}
dd { 
	margin-top: 10pt; 
}
dt { 
	margin-top: 10pt; 
}
.annterm {
	font-weight: bold;
	border-bottom: 2px solid #CCCCCC;
}
.annrom {
	color: #999999;
	font-size: 50%;
	font-style: italic;
	word-break: normal;
}
.anntrans {
	color: #0099CC;
	font-size: 50%;
	font-style: normal;
	word-break: normal;
}
#footer {
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 45px;
	line-height:30px;
	background: #DDDDDD;
	font-size: 14px;
	text-align: center;
	border-top: 1px solid #000000;
}
.borderl {
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
.borderr {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
}
.uwordmarked { 
	font-weight: bold;
	border-top: 3px solid red;
	border-bottom: 3px solid red;
	border-right: 3px solid red;
	border-left: 3px solid red;
}
.kwordmarked { 
	font-weight: bold;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
}

/**************************************************************
Additional styles for printing
***************************************************************/

@media print
{
	#noprint {
		display: none;
	}
	#print {
		font-size: 75%;
	}
}
