/**************************************************************
"Learning with Texts" (LWT) is free and unencumbered software 
released into the PUBLIC DOMAIN.

Anyone is free to copy, modify, publish, use, compile, sell, or
distribute this software, either in source code form or as a
compiled binary, for any purpose, commercial or non-commercial,
and by any means.

In jurisdictions that recognize copyright laws, the author or
authors of this software dedicate any and all copyright
interest in the software to the public domain. We make this
dedication for the benefit of the public at large and to the 
detriment of our heirs and successors. We intend this 
dedication to be an overt act of relinquishment in perpetuity
of all present and future rights to this software under
copyright law.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE 
WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE
AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS BE LIABLE 
FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN 
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN 
THE SOFTWARE.

For more information, please refer to [http://unlicense.org/].
***************************************************************/

/**************************************************************
Stylesheet
***************************************************************/

body {
	background-color: #FFFFFF;
	color: #000000;
	font: 100%/1.25 "Lucida Grande",Arial,sans-serif,STHeiti,"Arial Unicode MS",MingLiu;
	margin: 20px;
	padding: 0px;
	cursor: default;
}
input[type=text] {
	font: 85% "Lucida Grande",Arial,sans-serif,STHeiti,"Arial Unicode MS",MingLiu;
	border: 1px solid #C6C6C6;
	padding: 3px;
	border-radius: 4px;
}
p {
	margin: 5px 0 5px 0;
	padding: 0;
}
h3 {
	margin: 0px 0 0px 0;
	padding: 0;
}
h4 {
	margin: 5px 0 10px 0;
	padding: 0;
}
span.status0 {
	border-bottom: 2px solid #ADDFFF;
	text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
span.status1 {
	border-bottom: 2px solid #F5B8A9;
	text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
span.status2 {
	border-bottom: 2px solid #F5CCA9;
	text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
span.status3 {
	border-bottom: 2px solid #F5E1A9;
	text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
span.status4 {
	border-bottom: 2px solid #F5F3A9;
	text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
span.status5 {
	border-bottom: 2px solid #DDFFDD;
	text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
span.status99 {
  border-bottom: 2px solid transparent;
  text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
span.hword.status99, table .status99 {
  border-bottom: 2px solid #cccccc;
}
span.status98 {
  border-bottom: 2px dashed transparent;
  text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
span.hword.status98, table .status98 {
	border-bottom: dashed 2px #DDD;
}
span.mwsty {
	margin: 0px 1px;
	font-size: 60%;
	font-weight: bold;
	color: #000000;
	vertical-align: top; 
	border-radius: 3px;
	white-space: nowrap;
}
span.wsty {
	margin:0px;
	padding:0px 1px;
	box-shadow: 0 0 0px 1px #FFF;
	color: #000000;
	border-radius: 3px;
}
span.todosty {
	border-bottom: 2px solid #F5E1A9;
	text-decoration: none;
	padding: 1px 2px;
	border-radius: 3px;
}
span.doneoksty {
	border-bottom: 2px solid #A9F5A9;
	text-decoration: none;
	padding: 1px 2px;
	border-radius: 3px;
}
span.donewrongsty {
	border-bottom: 2px solid #F5B8A9;
	text-decoration: none;
	padding: 1px 2px;
	border-radius: 3px;
}
span.status5stat {
	border-bottom: 2px solid #BBFFBB;
	text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
.tword.lword,.tword.sword{
	border-top: 2px solid #D57;
	border-bottom: 2px solid #D57;
	text-decoration: none;
	background-color: #FEE;
}
.tword{
	border-radius: 3px;
	box-shadow: 0 0 0px 1px #FFF;
	border-bottom: 2px solid #C9B;
	text-decoration: none;
}
.nword{
	background-color: #FFF;
	border-bottom: 2px solid #FFF !important;
}
.hword{
	background-color: #FF9;
}
#thetext span{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
textarea {
	font: 85% "Lucida Grande",Arial,sans-serif,STHeiti,"Arial Unicode MS",MingLiu;
	border: 1px solid #C6C6C6;
	padding: 3px;
	border-radius: 4px;
}
label.wrap_checkbox,label.wrap_checkbox span,label.wrap_radio,label.wrap_radio span{
	display:none;
}
.bgdis {
	background-color: #EAEAE5 ! important;
}
table.tab1 {
	background-color: #f8f8f8;
	margin-bottom: 10px;
	margin-top: 10px;
	border-top: 1px solid #A0A0A0;
	border-left: 1px solid #A0A0A0;
	width: 850px;
}
table.tab2 {
	background-color: #f8f8f8;
	margin-bottom: 10px;
	margin-top: 10px;
	border-top: 1px solid #A0A0A0;
	border-left: 1px solid #A0A0A0;
	width: 100%;
}
table.tab3 {
	background-color: #f8f8f8;
	margin-bottom: 10px;
	margin-top: 10px;
	border-top: 1px solid #A0A0A0;
	border-left: 1px solid #A0A0A0;
	width: auto;
}
td.td1 {
	border-bottom: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
	vertical-align: top;
}
td.td1bot {
	border-bottom: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
	vertical-align: bottom;
}
th.th1 {
	border-bottom: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
	background-color: #DDDDDD;
	vertical-align: top;
}
th.clickable {
	cursor: pointer;
}
.click {
	cursor: pointer;
	color: #C00000;
}
.clickedit {
	cursor: pointer;
}
.hide {
	display: none;
}
a {
	text-decoration: none;
}
a:link {
	color: #C00000;
}
a:visited {
	color: #C00000;
}
a:active {
	color: #C00000;
}
a:focus {
	color: #C00000;
}
a:hover {
	color: #C00000;
} 
img {
	border: 0pt none;
}
.red {
	color: #FF0000;
	font-weight: bold;
	background-color: #FFFFD0;
	text-align: center;
	font-size: 120%;
}
.msgblue {
	color: #0000FF;
	font-weight: bold;
	background-color: #FFFFE0;
	text-align: center;
	border-radius: 3px;
	font-size: 120%;
}
.red2 {
	color: #FF0000;
	font-weight: bold;
}
.red3 {
	color: #FF0000;
}
.scorered {
	font-weight: bold;
	color: #FF0000;
}
.scoregreen {
	color: #006400;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.bigger {
	font-size: 130%;
}
.smaller {
	font-size: 80%;
}
.backgray {
	background-color: #DDDDDD;
}
.backlightyellow {
	background-color: #FFFACD;
}
.smallgray { 
	color: gray;
	font-size:60%;
}
.smallgray2 { 
	color: gray;
	font-size:80%;
}
.smallgray3 { 
	color: gray;
	font-size:70%;
	width: 850px;
	margin-bottom: 20px;
}
#learnstatus {
	color: #000000;
	font-size: 120%;
	font-weight: bold;
}
#iknowall {
	background-color: #ADDFFF;
	cursor: pointer;
	color: #C00000;
	padding: 5px;
	border: 1px solid #A0A0A0;
 	text-align: center;
}
img.lwtlogo {
	margin-right: 15px;
	float: left;
}
img.lwtlogoright {
	margin-left: 30px;
	float: right;
}
div#floatdiv {
	background:#DDDDDD;
	border:1px solid #888888;
	border-radius: 4px;
}
.inline {
	display: inline;
}
.grayborder {
	border: 1pt solid #808080;
}
.graydotted {
	margin-top: 30px; 
	padding-top: 5px; 
	border-top: 1px dotted #808080;
}
#printoptions {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #808080;
	line-height: 1.8; 
	margin-top: 20px;
}
.width50px {
	width: 50px;
}
.width99pc {
	width: 99%;
}
.width45pc {
	width: 45%;
}
dd { 
	margin-top: 10pt; 
}
dt { 
	margin-top: 10pt; 
}
.annterm {
	font-weight: bold;
	border-bottom: 2px solid #CCCCCC;
}
.anntermruby {
	font-weight: normal;
	border-bottom: 2px solid #FFFFFF;
}
.annrom {
	color: #999999;
	font-size: 60%;
	font-style: italic;
}
.annromruby {
	color: #000000;
	font-size: 100%;
	font-style: italic;
}
.annromrubysolo {
	color: #000000;
	font-size: 100%;
	font-style: normal;
}
.anntrans {
	color: #0099CC;
	font-size: 60%;
	font-style: normal;
}
.anntransruby {
	color: #0099CC;
	font-size: 100%;
	font-style: normal;
}
.anntransruby2 {
	color: #006699;
	font-size: 125%;
	font-style: normal;
}
span[class^='tts_'],div[class*=' tts_']{
       cursor:pointer; 
}
#footer {
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 45px;
	line-height:30px;
	background: #DDDDDD;
	font-size: 14px;
	text-align: center;
	border-top: 1px solid #A0A0A0;
}
.borderl {
	border-left: 1px solid #A0A0A0;
	border-top: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
}
.borderr {
	border-top: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
}
.uwordmarked { 
	font-weight: bold;
	border-top: 3px solid red;
	border-bottom: 3px solid red;
	border-right: 3px solid red;
	border-left: 3px solid red;
}
.kwordmarked { 
	font-weight: bold;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
}
#termtags {
	width: 340px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	border-radius:4px;
}
#texttags {
	width: 340px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	border-radius:4px;
}
.editable_textarea {
	display: inline;
}
.nowrap {
	white-space: nowrap;
	margin-left: 20pt;
}
ul.tagit li {border-radius:3px}

.borderleft {
	border-left: 1px solid #A0A0A0;
	border-top: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
	background-color: #EEEEEE;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.bordermiddle {
	border-top: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
	background-color: #EEEEEE;
}
.borderright {
	border-right: 1px solid #A0A0A0;
	border-top: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
	background-color: #EEEEEE;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.wizard {
	margin: 20px 0 5px 0;
} 

table {
	border-radius: 8px;
}

table tr:last-child>:first-child {
	border-bottom-left-radius: 8px;
}

table tr:last-child>:last-child {
	border-bottom-right-radius: 8px;
}

table tr:first-child>th:first-child {
	border-top-left-radius: 8px;
}

table tr:first-child>th:last-child {
	border-top-right-radius: 8px;
}

table tr:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

table tr:last-child {
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

th.sorttable,th.sorttable_nosort,th.sorttable_numeric,th.clickable {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

/**************************************************************
Additional styles for printing
***************************************************************/

@media print
{
	.noprint {
		display: none;
	}
	#print {
		font-size: 75%;
	}
}
