.barchart{
  font-weight:bold;
  position:relative;
  width:56px;
  margin:0;
  padding:0;
  list-style:none;
  background:#333;
  overflow:hidden;
  margin:0;
  border-radius:3px;
  height: 25px;
  box-shadow: 0 0 0 1px #444;
}

.barchart li{
  width:7px;
  float:left;
  display:block;
  height:200px;
  margin:0;
  padding:0;
  border:1px solid #333;
  border-right-width:0;
  border-left:none;
  border-bottom:none;
  opacity: .9;
}
  
.barchart li span{
  position:absolute;
  left:-99999px;
  top:0;
  text-align:center;
  width:5em;
  margin:0;
  pointer-events: none;
}
.barchart li:hover{
  opacity: 1;
  border-color:#444;
}
.barchart li:hover span{
  font-size:15px;
  width:auto;
  background:transparent;
  border:none;
  box-shadow:none;
  left:99%;
  text-align:right;
  text-indent:-3.4em;
  right:0;
  font-weight:bold;
  z-index:10;
  top:0;
}
.bc0{
  background: #7D8FEA;
}
.bc1{
  background: #E44;
}
.bc2{
  background: #FB9;
}
.bc3{
  background: #FE9;
}
.bc4{
  background: #FFFD77;
}
.bc5{
  background: #9F9;
}
.bc98{
  background: #888;
}
.bc99{
  background: #AAA;
}
.wc_cont{
  border-radius: 50%;
  width: 1em;
  height: 1em;
  background-color: red;
  display: inline-block;
  position: relative;
}
#total,#saved,#unknown,#chart {
  position: relative;
  bottom: 15%;
  display: block;
}
