/**************************************************************
"Learning with Texts" (LWT) is free and unencumbered software 
released into the PUBLIC DOMAIN.

Anyone is free to copy, modify, publish, use, compile, sell, or
distribute this software, either in source code form or as a
compiled binary, for any purpose, commercial or non-commercial,
and by any means.

In jurisdictions that recognize copyright laws, the author or
authors of this software dedicate any and all copyright
interest in the software to the public domain. We make this
dedication for the benefit of the public at large and to the 
detriment of our heirs and successors. We intend this 
dedication to be an overt act of relinquishment in perpetuity
of all present and future rights to this software under
copyright law.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE 
WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE
AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS BE LIABLE 
FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN 
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN 
THE SOFTWARE.

For more information, please refer to [http://unlicense.org/].
***************************************************************/

/**************************************************************
Stylesheet Night mode v.2012-12-24 (modified from LWT original one)
***************************************************************/
html{
	background-color: #000000;
}
body {
    /*background-color: #FFFFFF;*/
	background-color: #000000;
    /*color: #000000;*/
	color: #FFFFFF;
	font: 100%/1.25 "Lucida Grande",Arial,sans-serif,STHeiti,"Arial Unicode MS",MingLiu;
	/*margin: 0px ! important;*/
	margin: 20px;
	padding: 0px;
	cursor: default;
}
input[type=text] {
    font: 85% "Lucida Grande",Arial,sans-serif,STHeiti,"Arial Unicode MS",MingLiu;
    background-color: #111111;
    color: #EEEEEE;
	border: 1px solid #404040;
    padding: 3px;border-radius: 4px;box-shadow:inset 0 0 8px #333333, 0 1px 1px #000;
}
p {
    margin: 5px 0 5px 0;
    padding: 0;
}
h3 {
    margin: 0px 0 0px 0;
    padding: 0;
}
h4 {
    margin: 5px 0 10px 0;
    padding: 0;
}
.click {
    cursor: pointer;
    color: #C00000;
}
#thetext {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.status0 {
	border-bottom: 2px solid #7D8FEA;
	text-decoration: none;
	color: #FFF;
	border-radius: 3px;
}
.hword.status0 {
	background-color: #AAE;
}
.status1 {
	border-bottom: 2px solid #C51525;
	text-decoration: none;
	color: #FFF;
	border-radius: 3px;
}
.hword.status1 {
	background-color: #E44;
}
.status2 {
	border-bottom: 2px solid #ED9D7B;
	text-decoration: none;
	color: #FFF;
	border-radius: 3px;
}
.hword.status2 {
	background-color: #FB9;
}
.status3 {
	border-bottom: 2px solid #F7CF66;
	text-decoration: none;
	color: #FFF;
	border-radius: 3px;
}
.hword.status3 {
	background-color: #FE9;
}
.status4 {
	border-bottom: 2px solid #F5F388;
	text-decoration: none;
	color: #FFF;
	border-radius: 3px;
}
.hword.status4 {
	background-color: #FFFD77;
}
.status5 {
	border-bottom: 2px solid #77E077;
	text-decoration: none;
	color: #FFF;
	border-radius: 3px;
}
.hword.status5 {
	background-color: #9F9;
}
.status99 {
	border-bottom: 2px solid transparent;
	text-decoration: none;
	color: #FFF;
	border-radius: 3px;
}
.hword.status99, table .status99 {
	border-bottom: 2px solid #444;
}
.status98 {
	border-bottom: 2px dashed transparent;
	text-decoration: none;
	color: #FFF;
	border-radius: 3px;
}
.hword.status98, table .status98 {
	border-bottom: dashed 2px #444;
}
.hword.status99, .hword.status98 {
	background-color: #777;
}
.hword {
	color: rgba(0,0,0,.4) !important;
}
.wsty:after{
	opacity:.5
}
.wsty.hword:after{
	opacity:1
}
.mwsty {
	margin: 0px 1px;
	font-size: 60%;
	font-weight: bold;
	color: #FFF;
	vertical-align: top; 
	border-radius: 3px;
	white-space: nowrap;
}
.wsty {
	margin:0px;
	padding:0px 1px;
	box-shadow: 0 0 0px 1px #000;
	color: #FFF;
	border-radius: 3px;
}
.todosty {
	border-bottom: 2px solid #fbdb89;
	text-decoration: none;
	padding: 1px 2px;
	border-radius: 3px;
}
.doneoksty {
	border-bottom: 2px solid #64e56a;
	text-decoration: none;
	padding: 1px 2px;
	border-radius: 3px;
}
.donewrongsty {
	border-bottom: 2px solid #F5B8A9;
	text-decoration: none;
	padding: 1px 2px;
	border-radius: 3px;
}
.status5stat {
	border-bottom: 2px solid #44DD55;
	text-decoration: none;
	color: #FFF;
	border-radius: 3px;
}
.tword.lword,.nword.lword{
	color: rgba(0,0,0,.4) !important;
	background-color: #B8A;
	box-shadow: 1px 0 0 0 #B8A, -2px 0 0 0 #B8A;
}
.nword.lword{
	border-bottom: 2px solid #A69 !important;
	box-shadow: 1px 0 0 0 #B8A, -1px 0 0 0 #B8A;
}
.tword{
	border-radius: 3px;
	box-shadow: 0 0 0px 1px #000;
	border-bottom: 2px solid #A69;
	text-decoration: none;
	color: #FFF !important;
	background-color: #000;
}
.nword{
	color: #FFF !important;
	background-color: #000;
	border-bottom: 2px solid #000 !important;
}
textarea {
    font: 85% "Lucida Grande",Arial,sans-serif,STHeiti,"Arial Unicode MS",MingLiu;
    border: 1px solid #404040;
    background-color: #111111;
    color: #EEEEEE;
	padding: 3px;border-radius: 4px;box-shadow:inset 0 0 8px #333333, 0 1px 1px #000;
}
.goog-te-gadget-simple,.goog-te-gadget-simple .goog-te-menu-value {
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(34,34,34)), color-stop(1, rgb(58,59,60)) ) !important;
	background: -moz-linear-gradient( center bottom, rgb(34,34,34) 0%, rgb(58,59,60) 100% ) !important;
	background-color: rgb(34,34,34) !important;
	color: #F3F3F3 !important;
	border:none !important;
}
.goog-te-gadget-simple{
	box-shadow: 0 1px 1px #000;
	margin:2px;
	border-radius: 4px;

}
select{
 	background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(34,34,34)), color-stop(1, rgb(58,59,60)) );
	background: -moz-linear-gradient( center bottom, rgb(34,34,34) 0%, rgb(58,59,60) 100% );
	background-color: rgb(34,34,34);
	color: #F3F3F3;
	padding: 1px;
	border:none;
	margin:2px;
	border-radius: 4px;
	box-shadow: 0 1px 1px #000;
}
select:focus:active{
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(34,34,34)), color-stop(1, rgb(58,59,60)) );
	background: -moz-linear-gradient( center top, rgb(34,34,34) 0%, rgb(58,59,60) 100% );
	background-color: rgb(34,34,34);
	outline:none;
/*box-shadow:inset 0 1px 1px #666 ! important;position: relative;
top: 1px;color:#AAA;*/
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}
@-moz-document url-prefix() {

	select{
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
		margin: 0;
		padding-right: 1.2em;
		}
	.wrap_select {
		position:relative;
		display: inline-block;
		border-radius: 4px;
		vertical-align: middle;
		margin: 2px;
	}
	.wrap_select:before, .wrap_select:after {
		content: "";
		pointer-events: none;
		position: absolute;
	}
	.wrap_select:before {
		bottom: 0;
		right: -0.1em;
		background: -moz-linear-gradient( center bottom, rgb(34,34,34) 0%, rgb(58,59,60) 100% );
		background-color: rgb(34,34,34);
		border-radius: 0px 4px 4px 0px;
		top: 0;
		width: 1.2em;
	}
	.wrap_select:after {
		color:#F3F3F3;
		background-color: transparent;
		content: "▾";
		font-size: 0.625em;
		height: 1em;
		line-height: 1;
		margin-top: -0.5em;
		right: 0.55em;
		top: 50%;
	}
	select:hover:focus,.wrap_select:hover:focus:before{
		background: -moz-linear-gradient( center top, rgb(34,34,34) 0%, rgb(58,59,60) 100% );
		background-color: rgb(34,34,34);
		box-shadow:inset 0 1px 1px #666;
	}
	.wrap_select:focus:active:before{
		background: -moz-linear-gradient( center top, rgb(34,34,34) 0%, rgb(58,59,60) 100% );
		background-color: rgb(34,34,34);
		outline:none;
	}
}

:focus{
	outline: none;
	box-shadow: 0 0 6px 1px rgba(127,127,127,.5) ! important;
}
/*
select:focus,button:focus,input:focus{
	outline: none;
	box-shadow: 0 1px 0 0 #000, -2px 0 0 0 rgba(127,127,127,.6),2px 0 0 0 rgba(127,127,127,.6) ! important;
}
*/
.wrap_radio>span:focus{
	outline: none;
	box-shadow: 0 -2px 6px 0 rgba(222,222,222,.7),0 2px 6px 0 rgba(222,222,222,.7),inset 0 0 6px 0 rgba(222,222,222,.4) ! important;
}

button::-moz-focus-inner { border: 0; }
input::-moz-focus-inner { border: 0; }
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #F3F3F3;
}
button,input[type=button],input[type=submit] {
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(34,34,34)), color-stop(1, rgb(58,59,60)) );
	background: -moz-linear-gradient( center bottom, rgb(34,34,34) 0%, rgb(58,59,60) 100% );
	color: #F3F3F3;
	background-color: rgb(34,34,34);
	padding: 2px 4px;border:none;margin:2px;
	border-radius:4px;box-shadow: 0 1px 1px #000;
}
.button-file{
	display: inline ! important;
}

button:not(:disabled):active,input[type=button]:not(:disabled):active,input[type=submit]:not(:disabled):active {
	box-shadow:inset 0 1px 1px #666 ! important;
	position: relative;
	top: 1px;
	color: #AAA;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(34,34,34)), color-stop(1, rgb(58,59,60)) );
	background: -moz-linear-gradient( center top, rgb(34,34,34) 0%, rgb(58,59,60) 100% );
}
input[disabled],select[disabled],textarea[disabled] {
   color: #777777;
}
.fakefile{
	margin-left: .2em;
	font-size: 80%;
}
input[type=file] {
    display: none;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label.wrap_checkbox {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
    font-size:14px;
    margin-left:5px;
}

input[type="checkbox"] + label.wrap_checkbox span {
    display:inline-block;
    width:17px;
    height:17px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(check_radio_sheet2.png) 1px top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label.wrap_checkbox span {
    background:url(check_radio_sheet2.png) -16px top no-repeat;
}
input[type="radio"] {
    display:none;
}

input[type="radio"] + label.wrap_radio {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
    font-size:14px;
}

input[type="radio"] + label.wrap_radio span {
    display:inline-block;
    width:17px;
    height:17px;
    margin:-5px 4px 0 0;
    vertical-align:middle;
    background:url(check_radio_sheet2.png) -34px 1px no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label.wrap_radio span {
    background:url(check_radio_sheet2.png) -51px 1px no-repeat;
}

#overDiv table[bgcolor="#333399"]{
	background-color: rgba(40,40,69,.9) ! important;
	padding: 0px 2px 1px 2px;
	/*box-shadow:0px 0px 4px 1px #666 ! important;*/
}
#overDiv table[bgcolor="#FFFFE8"]{
	background-color: rgba(30,30,10,.4) ! important;

	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#overDiv td[valign="TOP"] font{
	color: #EEE ! important;
}
#overDiv a font[color="#FFFFFF"]{
	background-color: #C11 ! important;
	padding: 1px 3px;
	border-radius: 6px ! important;
}

table.tab1 {
    /*background-color: #f8f8f8;*/
    background-color: #080808;
    margin-bottom: 10px;
    margin-top: 10px;
    /*border-top: 1px solid #808080;*/
    /*border-left: 1px solid #808080;*/
    border-top: 1px solid #404040;
    border-left: 1px solid #404040;
    width: 850px;
}
table.tab2 {
    /*background-color: #f8f8f8;*/
    background-color: #080808;
    margin-bottom: 10px;
    margin-top: 10px;
    /*border-top: 1px solid #808080;
    border-left: 1px solid #808080;*/
    border-top: 1px solid #404040;
    border-left: 1px solid #404040;
    width: 100%;
}
table.tab3 {
    /*background-color: #f8f8f8;*/
    background-color: #080808;
    margin-bottom: 10px;
    margin-top: 10px;
    /*border-top: 1px solid #808080;
    border-left: 1px solid #808080;*/
    border-top: 1px solid #404040;
    border-left: 1px solid #404040;
    width: auto;
}
td.td1 {
    /*border-bottom: 1px solid #808080;
    border-right: 1px solid #808080;*/
    border-bottom: 1px solid #404040;
    border-right: 1px solid #404040;
    vertical-align: top;
}
td.td1bot {
    /*border-bottom: 1px solid #808080;
    border-right: 1px solid #808080;*/
    border-bottom: 1px solid #404040;
    border-right: 1px solid #404040;
    vertical-align: bottom;
}
th.th1 {
    /*border-bottom: 1px solid #808080;
    border-right: 1px solid #808080;*/
    border-bottom: 1px solid #404040;
    border-right: 1px solid #404040;
    /*background-color: #DDDDDD;*/
    background-color: #222222;
    vertical-align: top;
}
th.clickable {
    cursor: pointer;
}
.clickedit {
    cursor: pointer;
}
.hide {
    display: none;
}
a {
    text-decoration: none;
    border-radius: 3px;
}
a:link {
    /*color: #C00000;*/
    color: #E00000;
}
a:visited {
    /*color: #C00000;*/
    color: #E00000;
}
a:active {
    /*color: #C00000;*/
    color: #E00000;
}
a:focus {
    /*color: #C00000;*/
    color: #E00000;
}
a:hover {
    /*color: #C00000;*/
    color: #E00000;
} 
img {
    border: 0pt none;
}
.red {
    color: #FF0000;
    font-weight: bold;
    background-color: #222222;
    text-align: center;
    font-size: 120%;
	border-radius: 2px;box-shadow:inset 0 0 8px 2px #000;
}
.msgblue {
    color: #0000FF;
    font-weight: bold;
    background-color: #222222;
    text-align: center;
    font-size: 120%;
	border-radius: 2px;box-shadow:inset 0 0 8px 2px #000;
}
.red2 {
    color: #FF0000;
    font-weight: bold;
}
.red3 {
	color: #FF0000;
}
.scorered {
    font-weight: bold;
    color: #FF0000;
}
.scoregreen {
    color: #006400;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.bigger {
    font-size: 130%;
}
.smaller {
    font-size: 80%;
}
.backgray {
    /*background-color: #DDDDDD;*/
    background-color: #222222;
}
.backlightyellow {
    background-color: #111111;
    color: #E4E433;
}
.smallgray { 
    color: gray;
    font-size:60%;
}
.smallgray2 { 
    color: gray;
    font-size:80%;
}
.smallgray3 { 
    color: gray;
    font-size:70%;
    width: 850px;
    margin-bottom: 20px;
}
#learnstatus {
    /*color: #000000;*/
    color: #FFFFFF;
    font-size: 120%;
    font-weight: bold;
}
#iknowall {
    background-color: #ADDFFF;
    cursor: pointer;
    color: #C00000;
    padding: 5px;
    /*border: 1px solid #000000;*/
    border: 1px solid #FFFFFF;
    text-align: center;
}
.lwtlogo {
    margin-right: 15px;
    float: left;
}
.lwtlogoright {
    margin-left: 30px;
    float: right;
}
#floatdiv {
	background:#333333;
	border:1px solid #222222;
	border-radius: 4px;
}
.inline {
    display: inline;
}
.grayborder {
    /*border: 1pt solid #808080;*/
    border: 1pt solid #8f8f8f;
}
.graydotted {
    margin-top: 30px; 
    padding-top: 5px; 
    /*border-top: 1px dotted #808080;*/
    border-top: 1px dotted #8f8f8f;
}
#printoptions {
    margin-bottom: 15px;
    padding-bottom: 15px;
    /*border-bottom: 1px dotted #808080;*/
    border-bottom: 1px dotted #8f8f8f;
    line-height: 1.8; 
    margin-top: 20px;
}
.width50px {
    width: 50px;
}
.width99pc {
    width: 99%;
}
.width45pc {
    width: 45%;
}
dd { 
    margin-top: 10pt; 
}
dt { 
    margin-top: 10pt; 
}
.annterm {
    font-weight: bold;
    /*border-bottom: 2px solid #CCCCCC;*/
    border-bottom: 2px solid #222222;
}
.anntermruby {
    font-weight: normal;
    /*border-bottom: 2px solid #FFFFFF;*/
    border-bottom: 2px solid #000000;
}
.annrom {
    color: #999999;
    font-size: 60%;
    font-style: italic;
}
.annromruby {
    /*color: #000000;*/
    color: #FFFFFF;
    font-size: 100%;
    font-style: italic;
}
.annromrubysolo {
    /*color: #000000;*/
    color: #FFFFFF;
    font-size: 100%;
    font-style: normal;
}
.anntrans {
    color: #0099CC;
    font-size: 60%;
    font-style: normal;
}
.anntransruby {
    color: #0099CC;
    font-size: 100%;
    font-style: normal;
}
.anntransruby2 {
    color: #006699;
    font-size: 125%;
    font-style: normal;
}
span[class^='tts_'],div[class*=' tts_']{
       cursor:pointer; 
}
#thumbnail{
	width: inherit;
	height: 30px;
	top: 0;
	border-radius:2px;
	cursor:pointer;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url('../../icn/photo-album.png');
}
#thumbnail_container{
	margin: 3px;
	overflow: hidden;
	width: 45px;
	height: 30px;
	display:inline-block;
}
#footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 45px;
    line-height:30px;
    /*background: #DDDDDD;*/
    background: #222222;
    font-size: 14px;
    text-align: center;
    /*border-top: 1px solid #000000;*/
    border-top: 1px solid #404040;
}
.borderl {
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.borderr {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}
.uwordmarked { 
    font-weight: bold;
    box-shadow:0px 0px 8px 2px #d20 ! important;
}
.kwordmarked { 
    font-weight: bold;
    box-shadow:0px 0px 8px 2px #fff ! important;
}
#termtags {
    width: 340px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
}
#texttags {
    width: 340px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
}
.editable_textarea {
    display: inline;
}
.nowrap {
    white-space: nowrap;
    margin-left: 20pt;
}
.borderleft {
    /*border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;*/
    border-left: 1px solid #404040;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
    /*background-color: #EEEEEE;*/
    background-color: #111111;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
}
.bordermiddle {
    /*border-top: 1px solid black;
    border-bottom: 1px solid black;*/
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
    /*background-color: #EEEEEE;*/
    background-color: #111111;
}
.borderright {
    /*border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;*/
    border-right: 1px solid #404040;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
    /*background-color: #EEEEEE;*/
    background-color: #111111;
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
}
.wizard {
    margin: 20px 0 5px 0;
} 
table {
    border-radius:8px;
}

table tr:last-child>:first-child {
    border-bottom-left-radius:8px;
}

table tr:last-child>:last-child {
     border-bottom-right-radius:8px;
}

table tr:first-child>th:first-child {
	border-top-left-radius:8px;
}

table tr:first-child>th:last-child,table>tr:first-child>td:last-child,table>tbody:first-child>tr:first-child>td:last-child {
    border-top-right-radius:8px;
}
table tr:first-child{
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}

table tr:last-child {
      border-bottom-right-radius:8px;
	border-bottom-left-radius:8px;
}
th.sorttable,th.sorttable_nosort,th.sorttable_numeric,th.clickable {
	border-bottom-right-radius:0px !important;
	border-bottom-left-radius:0px !important;
	
}

/**************************************************************
Additional styles for printing
***************************************************************/

@media print
{
    .noprint {
        display: none;
    }
    #print {
    	color: #000;
        font-size: 75%;
    }
    .anntermruby {
    font-weight: normal;
    border-bottom: 2px solid #FFFFFF;
}
}
