.barchart{
  font-weight:bold;
  position:relative;
  width:56px;
  margin:0;
  padding:0;
  list-style:none;
  background:#eee;
  overflow:hidden;
  margin:0;
  height: 25px;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px #999;
}

.barchart li{
  width:7px;
  float:left;
  display:block;
  height:200px;
  margin:0;
  padding:0;
  border:1px solid #E3E3E3;
  border-right-width:0;
  border-left:none;
  border-bottom:none;
}
  
.barchart li span{
  position:absolute;
  left:-99999px;
  top:0;
  text-align:center;
  width:5em;
  margin:0;
  pointer-events: none;
}
.barchart li:hover{
  opacity: .9;
  border-color:#D1D1D1;
}
.barchart li:hover span{
  left:5px;
  z-index:10;
  top: -2px;
  font-size:15px;
  width:auto;
  background:transparent;
  border:none;
  left:99%;
  text-align:right;
  text-indent:-3.4em;
  right:0;
  font-weight:bold;
  z-index:10;
  top:0;
  opacity: .9;
}
.bc0{
  background: #8BDADC;
}
.bc1{
  background: #F24E4E;
}
.bc2{
  background: #FFAC80;
}
.bc3{
  background: #FFE199;
}
.bc4{
  background: #FFFD77;
}
.bc5{
  background: #9F9;
}
.bc98{
  background: #AAA;
}
.bc99{
  background: #999;
}
.wc_cont{
  border-radius: 50%;
  width: 1em;
  height: 1em;
  background-color: #FF5F5F;
  display: inline-block;
  position: relative;
}
#total,#saved,#unknown,#chart {
  position: relative;
  bottom: 15%;
  display: block;
}
